In [99]:
import pandas as pd
import data
from tqdm.auto import tqdm

df = pd.read_json(path_or_buf='data/linkedin_people_profile_2023-04-01T15-11-21.jsonl', lines=True)

In [100]:
df

,profile,url,name,description,location,followers,connections,about,experience,education
0,aaron-alberg,https://www.linkedin.com/in/aaron-alberg/,Aaron Alberg,Incoming SWE at Flexport | CS @ UIUC,"Chicago, Illinois, United States",538,500+,I am always looking for innovative ways to lev...,[{'organisation_profile': 'https://es.linkedin...,"[{'organisation': '', 'organisation_profile': ..."
1,julia-nagel-899828197,https://www.linkedin.com/in/julia-nagel-899828...,Julia Nagel,Graduate Student at the University of Illinois,Urbana-Champaign y alrededores,,,I am currently a Masters student at University...,[{'organisation_profile': 'https://pe.linkedin...,"[{'organisation': '', 'organisation_profile': ..."
2,evan-natsis-206776233,https://www.linkedin.com/in/evan-natsis-206776...,Evan Natsis,High School Mathematics Teacher,"Normal, Illinois, United States",147,148,None,[{'organisation_profile': 'https://se.linkedin...,"[{'organisation': '', 'organisation_profile': ..."
3,anisha-sharma-59a094143,https://www.linkedin.com/in/anisha-sharma-59a0...,Anisha Sharma,Undergraduate Research Assistant at Beckman In...,"Roselle, Illinois, United States",739,500+,I am a senior studying materials science and e...,[{'organisation_profile': 'https://nl.linkedin...,"[{'organisation': '', 'organisation_profile': ..."
4,nathanmalewicki,https://www.linkedin.com/in/nathanmalewicki/,Nathan Malewicki,Report,"St Petersburg, Florida, United States",700,500+,None,[{'organisation_profile': 'https://jp.linkedin...,"[{'organisation': '', 'organisation_profile': ..."
5,arjun-bahel-6a2a43213,https://www.linkedin.com/in/arjun-bahel-6a2a43...,Arjun Bahel,Solutions Engineering Analyst at Deloitte,"Naperville, Illinois, United States",361,363,None,[{'organisation_profile': 'https://es.linkedin...,"[{'organisation': '', 'organisation_profile': ..."
6,eshaan-bhattad,https://www.linkedin.com/in/eshaan-bhattad/,Eshaan Bhattad,CS @ UIUC,"Buffalo Grove, Illinois, United States",594,500+,Hi! My name is Eshaan Bhattad and I am a risin...,[],"[{'organisation': '', 'organisation_profile': ..."
7,vishnu-chakroborty,https://www.linkedin.com/in/vishnu-chakroborty/,Vishnu Chakroborty,"Co-Founder, Engineering @ Burst",Greater Chicago Area,556,500+,None,[{'organisation_profile': 'https://dk.linkedin...,"[{'organisation': '', 'organisation_profile': ..."
8,meraal-choudhry,https://www.linkedin.com/in/meraal-choudhry/,Meraal Choudhry,Application & Program Analyst at Deloitte,"Chicago, Illinois, United States",785,500+,None,[{'organisation_profile': 'https://de.linkedin...,"[{'organisation': '', 'organisation_profile': ..."
9,faruiq,https://www.linkedin.com/in/faruiq/,Farah Iqbal,Rotational Development Associate at Northern T...,"Naperville, Illinois, United States",233,233,None,[{'organisation_profile': 'https://au.linkedin...,"[{'organisation': '', 'organisation_profile': ..."

In [101]:
df['experience'] = df['experience'].apply(lambda dicts: [{k: v for k, v in d.items() if (k != 'location' and k!= 'start_time' and k!= 'end_time')} for d in dicts])
df['education'] = df['education'].apply(lambda dicts: [{k: v for k, v in d.items() if (k != 'organisation')} for d in dicts])

In [102]:
str(df['experience'][0])

"[{'organisation_profile': 'https://es.linkedin.com/company/university-of-illinois-urbana-champaign', 'description': '- Teach engineering exploration class for 20 undeclared students to discover passions and define goals'}, {'organisation_profile': 'https://es.linkedin.com/company/flexport', 'description': 'Visibility Engineering Team', 'duration': '3 months'}, {'organisation_profile': 'https://es.linkedin.com/company/founders-illinois-entrepreneurs', 'description': '- Design software solutions to promote accessibility at UIUC for startups and student entrepreneurs', 'duration': '1 year 11 months'}, {'organisation_profile': 'https://es.linkedin.com/company/arity', 'description': '- Provided business customers tools to register and update their users by building out support for API', 'duration': '4 months'}, {'organisation_profile': 'https://es.linkedin.com/company/impactlabs', 'description': '', 'duration': '5 months'}, {'organisation_profile': 'https://es.linkedin.com/company/csg-', 'description': '-Developed a service dashboard to present teams with data on AWS infrastructure health and resources', 'duration': '5 months'}, {'organisation_profile': 'https://es.linkedin.com/company/thousand-waves-martial-arts-&-self-defense-center', 'description': '(seasonal)'}]"

In [124]:
import os
import openai
openai.organization = "org-5jL307O6H0zk9xntse9BR1sl"
openai.api_key = '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'
#prompt = "given my experience am I a cashier, software engineer, or project manager?:" + str(str(df['about'][0]) + df['experience'][0]) + str(df['education'][0])
#response = openai.Completion.create(engine ='text-davinci-003', prompt=prompt, max_tokens = 20)
#print(response)

In [138]:
import re

def generate_response(row):
    prompt = (f"{row['about']} {row['experience']} {row['education']} "
              "Please provide a recommendation score (1-5, with 5 being the highest) for the following careers based on the profile: "
              "software engineering, management consulting, construction on-site worker, investment management, and biological research.")

    response = openai.Completion.create(
        engine="text-davinci-003",
        prompt=prompt,
        max_tokens=50,
        n=1,
        stop=None,
        temperature=0.7,
    )

    response_text = response.choices[0].text.strip()
    print(response_text)
    # Use regex to extract scores for each career
    careers = ["software engineering", "management consulting", "construction on-site worker", "investment management", "biological research"]
    scores = {}
    for career in careers:
        match = re.search(f"{career}[:-]?\\s*(\\d)", response_text, re.IGNORECASE)  # Handle different separators
        if match:
            scores[career] = int(match.group(1))
        else:
            scores[career] = None  # Set to None or any default value if the score is not found

    return scores

# Generate scores and create a new column with the scores
#tqdm.pandas()  # Optional: to show progress bar
df['scores'] = df.progress_apply(generate_response, axis=1)

print(df)

 20%|██        | 2/10 [00:01<00:05,  1.58it/s]

Software Engineering: 5
Management Consulting: 4
Construction On-site Worker: 2
Investment Management: 3
Biological Research: 3

 30%|███       | 3/10 [00:02<00:06,  1.11it/s]

Software Engineering: 5
Management Consulting: 4
Construction On-Site Worker: 3
Investment Management: 4
Biological Research: 3

 40%|████      | 4/10 [00:03<00:06,  1.01s/it]

Software Engineering: 5
Management Consulting: 4
Construction On-site Worker: 2
Investment Management: 3
Biological Research: 3

 50%|█████     | 5/10 [00:04<00:05,  1.08s/it]

Software Engineering: 5
Management Consulting: 4
Construction On-Site Worker: 2
Investment Management: 3
Biological Research: 4

 60%|██████    | 6/10 [00:06<00:04,  1.17s/it]

Software Engineering: 4
Management Consulting: 3
Construction On-site Worker: 2
Investment Management: 5
Biological Research: 3

 70%|███████   | 7/10 [00:07<00:03,  1.27s/it]

Software Engineering: 5
Management Consulting: 4
Construction On-Site Worker: 3
Investment Management: 4
Biological Research: 4

 80%|████████  | 8/10 [00:09<00:02,  1.30s/it]

Software Engineering: 5
Management Consulting: 4
Construction On-Site Worker: 2
Investment Management: 3
Biological Research: 2

 90%|█████████ | 9/10 [00:10<00:01,  1.31s/it]

Software Engineering: 5
Management Consulting: 4
Construction On-site Worker: 3
Investment Management: 4
Biological Research: 3

100%|██████████| 10/10 [00:12<00:00,  1.40s/it]

Software Engineering: 5
Management Consulting: 5
Construction On-Site Worker: 3
Investment Management: 4
Biological Research: 3

100%|██████████| 10/10 [00:13<00:00,  1.39s/it]

Software Engineering - 5
Management Consulting - 4
Construction On-Site Worker - 3
Investment Management - 4
Biological Research - 4
                   profile                                                url  \
0             aaron-alberg          https://www.linkedin.com/in/aaron-alberg/
1    julia-nagel-899828197  https://www.linkedin.com/in/julia-nagel-899828...
2    evan-natsis-206776233  https://www.linkedin.com/in/evan-natsis-206776...
3  anisha-sharma-59a094143  https://www.linkedin.com/in/anisha-sharma-59a0...
4          nathanmalewicki       https://www.linkedin.com/in/nathanmalewicki/
5    arjun-bahel-6a2a43213  https://www.linkedin.com/in/arjun-bahel-6a2a43...
6           eshaan-bhattad        https://www.linkedin.com/in/eshaan-bhattad/
7       vishnu-chakroborty    https://www.linkedin.com/in/vishnu-chakroborty/
8          meraal-choudhry       https://www.linkedin.com/in/meraal-choudhry/
9                   faruiq                https://www.linkedin.com/in/faruiq/

                 name                                        description  \
0        Aaron Alberg               Incoming SWE at Flexport | CS @ UIUC
1         Julia Nagel     Graduate Student at the University of Illinois
2         Evan Natsis                    High School Mathematics Teacher
3       Anisha Sharma  Undergraduate Research Assistant at Beckman In...
4    Nathan Malewicki                                             Report
5         Arjun Bahel          Solutions Engineering Analyst at Deloitte
6      Eshaan Bhattad                                          CS @ UIUC
7  Vishnu Chakroborty                    Co-Founder, Engineering @ Burst
8     Meraal Choudhry          Application & Program Analyst at Deloitte
9         Farah Iqbal  Rotational Development Associate at Northern T...

                                 location followers connections  \
0        Chicago, Illinois, United States       538        500+
1          Urbana-Champaign y alrededores
2         Normal, Illinois, United States       147         148
3        Roselle, Illinois, United States       739        500+
4   St Petersburg, Florida, United States       700        500+
5     Naperville, Illinois, United States       361         363
6  Buffalo Grove, Illinois, United States       594        500+
7                    Greater Chicago Area       556        500+
8        Chicago, Illinois, United States       785        500+
9     Naperville, Illinois, United States       233         233

                                               about  \
0  I am always looking for innovative ways to lev...
1  I am currently a Masters student at University...
2                                               None
3  I am a senior studying materials science and e...
4                                               None
5                                               None
6  Hi! My name is Eshaan Bhattad and I am a risin...
7                                               None
8                                               None
9                                               None

                                          experience  \
0  [{'organisation_profile': 'https://es.linkedin...
1  [{'organisation_profile': 'https://pe.linkedin...
2  [{'organisation_profile': 'https://se.linkedin...
3  [{'organisation_profile': 'https://nl.linkedin...
4  [{'organisation_profile': 'https://jp.linkedin...
5  [{'organisation_profile': 'https://es.linkedin...
6                                                 []
7  [{'organisation_profile': 'https://dk.linkedin...
8  [{'organisation_profile': 'https://de.linkedin...
9  [{'organisation_profile': 'https://au.linkedin...

                                           education  \
0  [{'organisation_profile': 'https://es.linkedin...
1  [{'organisation_profile': 'https://pe.linkedin...
2  [{'organisation_profile': 'https://se.linkedin...
3  [{'organisation_profile': 'https://nl.linkedin...
4  [{'organisation_profile': 'https://jp.linkedin...
5  [{'organisation_profile': 'https://es.linkedin...
6  [{'organisation_profile': 'https://se.linkedin...
7  [{'organisation_profile': 'https://dk.linkedin...
8  [{'organisation_profile': 'https://de.linkedin...
9  [{'organisation_profile': 'https://au.linkedin...

                                                role  \
0  1. Software Engineering\n2. Consulting\n3. Res...
1  1. Software Engineering\n2. Consulting\n3. Res...
2  1. Software Engineering\n2. Consulting\n3. Res...
3  1. Software Engineering\n2. Research\n3. Consu...
4  1. Software Engineering \n2. Investing \n3. Co...
5  1. Software Engineering\n2. Consulting\n3. Inv...
6  1. Software Engineering \n2. Consulting \n3. I...
7  1. Software Engineering \n2. Consulting \n3. I...
8  1. Software Engineering\n2. Investing\n3. Cons...
9  1. Software Engineering\n2. Consulting\n3. Inv...

                                              scores
0  {'software engineering': 5, 'management consul...
1  {'software engineering': 5, 'management consul...
2  {'software engineering': 5, 'management consul...
3  {'software engineering': 5, 'management consul...
4  {'software engineering': 4, 'management consul...
5  {'software engineering': 5, 'management consul...
6  {'software engineering': 5, 'management consul...
7  {'software engineering': 5, 'management consul...
8  {'software engineering': 5, 'management consul...
9  {'software engineering': None, 'management con...

In [139]:
df

,profile,url,name,description,location,followers,connections,about,experience,education,role,scores
0,aaron-alberg,https://www.linkedin.com/in/aaron-alberg/,Aaron Alberg,Incoming SWE at Flexport | CS @ UIUC,"Chicago, Illinois, United States",538,500+,I am always looking for innovative ways to lev...,[{'organisation_profile': 'https://es.linkedin...,[{'organisation_profile': 'https://es.linkedin...,1. Software Engineering\n2. Consulting\n3. Res...,"{'software engineering': 5, 'management consul..."
1,julia-nagel-899828197,https://www.linkedin.com/in/julia-nagel-899828...,Julia Nagel,Graduate Student at the University of Illinois,Urbana-Champaign y alrededores,,,I am currently a Masters student at University...,[{'organisation_profile': 'https://pe.linkedin...,[{'organisation_profile': 'https://pe.linkedin...,1. Software Engineering\n2. Consulting\n3. Res...,"{'software engineering': 5, 'management consul..."
2,evan-natsis-206776233,https://www.linkedin.com/in/evan-natsis-206776...,Evan Natsis,High School Mathematics Teacher,"Normal, Illinois, United States",147,148,None,[{'organisation_profile': 'https://se.linkedin...,[{'organisation_profile': 'https://se.linkedin...,1. Software Engineering\n2. Consulting\n3. Res...,"{'software engineering': 5, 'management consul..."
3,anisha-sharma-59a094143,https://www.linkedin.com/in/anisha-sharma-59a0...,Anisha Sharma,Undergraduate Research Assistant at Beckman In...,"Roselle, Illinois, United States",739,500+,I am a senior studying materials science and e...,[{'organisation_profile': 'https://nl.linkedin...,[{'organisation_profile': 'https://nl.linkedin...,1. Software Engineering\n2. Research\n3. Consu...,"{'software engineering': 5, 'management consul..."
4,nathanmalewicki,https://www.linkedin.com/in/nathanmalewicki/,Nathan Malewicki,Report,"St Petersburg, Florida, United States",700,500+,None,[{'organisation_profile': 'https://jp.linkedin...,[{'organisation_profile': 'https://jp.linkedin...,1. Software Engineering \n2. Investing \n3. Co...,"{'software engineering': 4, 'management consul..."
5,arjun-bahel-6a2a43213,https://www.linkedin.com/in/arjun-bahel-6a2a43...,Arjun Bahel,Solutions Engineering Analyst at Deloitte,"Naperville, Illinois, United States",361,363,None,[{'organisation_profile': 'https://es.linkedin...,[{'organisation_profile': 'https://es.linkedin...,1. Software Engineering\n2. Consulting\n3. Inv...,"{'software engineering': 5, 'management consul..."
6,eshaan-bhattad,https://www.linkedin.com/in/eshaan-bhattad/,Eshaan Bhattad,CS @ UIUC,"Buffalo Grove, Illinois, United States",594,500+,Hi! My name is Eshaan Bhattad and I am a risin...,[],[{'organisation_profile': 'https://se.linkedin...,1. Software Engineering \n2. Consulting \n3. I...,"{'software engineering': 5, 'management consul..."
7,vishnu-chakroborty,https://www.linkedin.com/in/vishnu-chakroborty/,Vishnu Chakroborty,"Co-Founder, Engineering @ Burst",Greater Chicago Area,556,500+,None,[{'organisation_profile': 'https://dk.linkedin...,[{'organisation_profile': 'https://dk.linkedin...,1. Software Engineering \n2. Consulting \n3. I...,"{'software engineering': 5, 'management consul..."
8,meraal-choudhry,https://www.linkedin.com/in/meraal-choudhry/,Meraal Choudhry,Application & Program Analyst at Deloitte,"Chicago, Illinois, United States",785,500+,None,[{'organisation_profile': 'https://de.linkedin...,[{'organisation_profile': 'https://de.linkedin...,1. Software Engineering\n2. Investing\n3. Cons...,"{'software engineering': 5, 'management consul..."
9,faruiq,https://www.linkedin.com/in/faruiq/,Farah Iqbal,Rotational Development Associate at Northern T...,"Naperville, Illinois, United States",233,233,None,[{'organisation_profile': 'https://au.linkedin...,[{'organisation_profile': 'https://au.linkedin...,1. Software Engineering\n2. Consulting\n3. Inv...,"{'software engineering': None, 'management con..."

In [153]:
df['scores'][7]

{'software engineering': 5,
 'management consulting': 4,
 'construction on-site worker': 3,
 'investment management': 4,
 'biological research': 3}