In [6]:
import pandas as pd
import data
from tqdm.auto import tqdm

df = pd.read_json(path_or_buf='data/linkedin_people_profile_2023-04-18T03-48-45.jsonl', lines=True)

ModuleNotFoundError: No module named 'pandas'

In [ ]:
df

,profile,url,name,description,location,followers,connections,about,experience,education
0,aaron-alberg,https://www.linkedin.com/in/aaron-alberg/,Aaron Alberg,Incoming SWE at Flexport | CS @ UIUC,"Chicago, Illinois, United States",538,500+,I am always looking for innovative ways to lev...,[{'organisation_profile': 'https://es.linkedin...,"[{'organisation': '', 'organisation_profile': ..."
1,julia-nagel-899828197,https://www.linkedin.com/in/julia-nagel-899828...,Julia Nagel,Graduate Student at the University of Illinois,Urbana-Champaign y alrededores,,,I am currently a Masters student at University...,[{'organisation_profile': 'https://pe.linkedin...,"[{'organisation': '', 'organisation_profile': ..."
2,evan-natsis-206776233,https://www.linkedin.com/in/evan-natsis-206776...,Evan Natsis,High School Mathematics Teacher,"Normal, Illinois, United States",147,148,None,[{'organisation_profile': 'https://se.linkedin...,"[{'organisation': '', 'organisation_profile': ..."
3,anisha-sharma-59a094143,https://www.linkedin.com/in/anisha-sharma-59a0...,Anisha Sharma,Undergraduate Research Assistant at Beckman In...,"Roselle, Illinois, United States",739,500+,I am a senior studying materials science and e...,[{'organisation_profile': 'https://nl.linkedin...,"[{'organisation': '', 'organisation_profile': ..."
4,nathanmalewicki,https://www.linkedin.com/in/nathanmalewicki/,Nathan Malewicki,Report,"St Petersburg, Florida, United States",700,500+,None,[{'organisation_profile': 'https://jp.linkedin...,"[{'organisation': '', 'organisation_profile': ..."
5,arjun-bahel-6a2a43213,https://www.linkedin.com/in/arjun-bahel-6a2a43...,Arjun Bahel,Solutions Engineering Analyst at Deloitte,"Naperville, Illinois, United States",361,363,None,[{'organisation_profile': 'https://es.linkedin...,"[{'organisation': '', 'organisation_profile': ..."
6,eshaan-bhattad,https://www.linkedin.com/in/eshaan-bhattad/,Eshaan Bhattad,CS @ UIUC,"Buffalo Grove, Illinois, United States",594,500+,Hi! My name is Eshaan Bhattad and I am a risin...,[],"[{'organisation': '', 'organisation_profile': ..."
7,vishnu-chakroborty,https://www.linkedin.com/in/vishnu-chakroborty/,Vishnu Chakroborty,"Co-Founder, Engineering @ Burst",Greater Chicago Area,556,500+,None,[{'organisation_profile': 'https://dk.linkedin...,"[{'organisation': '', 'organisation_profile': ..."
8,meraal-choudhry,https://www.linkedin.com/in/meraal-choudhry/,Meraal Choudhry,Application & Program Analyst at Deloitte,"Chicago, Illinois, United States",785,500+,None,[{'organisation_profile': 'https://de.linkedin...,"[{'organisation': '', 'organisation_profile': ..."
9,faruiq,https://www.linkedin.com/in/faruiq/,Farah Iqbal,Rotational Development Associate at Northern T...,"Naperville, Illinois, United States",233,233,None,[{'organisation_profile': 'https://au.linkedin...,"[{'organisation': '', 'organisation_profile': ..."

In [ ]:
df['experience'] = df['experience'].apply(lambda dicts: [{k: v for k, v in d.items() if (k != 'location' and k!= 'start_time' and k!= 'end_time')} for d in dicts])
df['education'] = df['education'].apply(lambda dicts: [{k: v for k, v in d.items() if (k != 'organisation')} for d in dicts])

In [ ]:
str(df['experience'][0])

"[{'organisation_profile': 'https://es.linkedin.com/company/university-of-illinois-urbana-champaign', 'description': '- Teach engineering exploration class for 20 undeclared students to discover passions and define goals'}, {'organisation_profile': 'https://es.linkedin.com/company/flexport', 'description': 'Visibility Engineering Team', 'duration': '3 months'}, {'organisation_profile': 'https://es.linkedin.com/company/founders-illinois-entrepreneurs', 'description': '- Design software solutions to promote accessibility at UIUC for startups and student entrepreneurs', 'duration': '1 year 11 months'}, {'organisation_profile': 'https://es.linkedin.com/company/arity', 'description': '- Provided business customers tools to register and update their users by building out support for API', 'duration': '4 months'}, {'organisation_profile': 'https://es.linkedin.com/company/impactlabs', 'description': '', 'duration': '5 months'}, {'organisation_profile': 'https://es.linkedin.com/company/csg-', 'description': '-Developed a service dashboard to present teams with data on AWS infrastructure health and resources', 'duration': '5 months'}, {'organisation_profile': 'https://es.linkedin.com/company/thousand-waves-martial-arts-&-self-defense-center', 'description': '(seasonal)'}]"

In [ ]:
import os
import openai
openai.organization = "org-5jL307O6H0zk9xntse9BR1sl"
openai.api_key = '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'

In [ ]:
import re

def generate_response(row):
    prompt = (f"{row['about']} {row['experience']} {row['education']} "
              "Please provide a recommendation score (1-5, with 5 being the highest) for the following careers based on the profile: "
              "software engineering, management consulting, construction on-site worker, investment management, and biological research.")

    response = openai.Completion.create(
        engine="text-davinci-003",
        prompt=prompt,
        max_tokens=50,
        n=1,
        stop=None,
        temperature=0.7,
    )

    response_text = response.choices[0].text.strip()
    print(response_text)
    # Use regex to extract scores for each career
    careers = ["software engineering", "management consulting", "construction on-site worker", "investment management", "biological research"]
    scores = {}
    for career in careers:
        match = re.search(f"{career}[:-]?\\s*(\\d)", response_text, re.IGNORECASE)  # Handle different separators
        if match:
            scores[career] = int(match.group(1))
        else:
            scores[career] = None  # Set to None or any default value if the score is not found

    return scores

# Generate scores and create a new column with the scores
#tqdm.pandas()  # Optional: to show progress bar
df['scores'] = df.progress_apply(generate_response, axis=1)

print(df)

 20%|██        | 2/10 [00:01<00:05,  1.58it/s]

Software Engineering: 5
Management Consulting: 4
Construction On-site Worker: 2
Investment Management: 3
Biological Research: 3

 30%|███       | 3/10 [00:02<00:06,  1.11it/s]

Software Engineering: 5
Management Consulting: 4
Construction On-Site Worker: 3
Investment Management: 4
Biological Research: 3

 40%|████      | 4/10 [00:03<00:06,  1.01s/it]

Software Engineering: 5
Management Consulting: 4
Construction On-site Worker: 2
Investment Management: 3
Biological Research: 3

 50%|█████     | 5/10 [00:04<00:05,  1.08s/it]

Software Engineering: 5
Management Consulting: 4
Construction On-Site Worker: 2
Investment Management: 3
Biological Research: 4

 60%|██████    | 6/10 [00:06<00:04,  1.17s/it]

Software Engineering: 4
Management Consulting: 3
Construction On-site Worker: 2
Investment Management: 5
Biological Research: 3

 70%|███████   | 7/10 [00:07<00:03,  1.27s/it]

Software Engineering: 5
Management Consulting: 4
Construction On-Site Worker: 3
Investment Management: 4
Biological Research: 4

 80%|████████  | 8/10 [00:09<00:02,  1.30s/it]

Software Engineering: 5
Management Consulting: 4
Construction On-Site Worker: 2
Investment Management: 3
Biological Research: 2

 90%|█████████ | 9/10 [00:10<00:01,  1.31s/it]

Software Engineering: 5
Management Consulting: 4
Construction On-site Worker: 3
Investment Management: 4
Biological Research: 3

100%|██████████| 10/10 [00:12<00:00,  1.40s/it]

Software Engineering: 5
Management Consulting: 5
Construction On-Site Worker: 3
Investment Management: 4
Biological Research: 3

100%|██████████| 10/10 [00:13<00:00,  1.39s/it]

Software Engineering - 5
Management Consulting - 4
Construction On-Site Worker - 3
Investment Management - 4
Biological Research - 4
                   profile                                                url  \
0             aaron-alberg          https://www.linkedin.com/in/aaron-alberg/
1    julia-nagel-899828197  https://www.linkedin.com/in/julia-nagel-899828...
2    evan-natsis-206776233  https://www.linkedin.com/in/evan-natsis-206776...
3  anisha-sharma-59a094143  https://www.linkedin.com/in/anisha-sharma-59a0...
4          nathanmalewicki       https://www.linkedin.com/in/nathanmalewicki/
5    arjun-bahel-6a2a43213  https://www.linkedin.com/in/arjun-bahel-6a2a43...
6           eshaan-bhattad        https://www.linkedin.com/in/eshaan-bhattad/
7       vishnu-chakroborty    https://www.linkedin.com/in/vishnu-chakroborty/
8          meraal-choudhry       https://www.linkedin.com/in/meraal-choudhry/
9                   faruiq                https://www.linkedin.com/in/faruiq/

                 name                                        description  \
0        Aaron Alberg               Incoming SWE at Flexport | CS @ UIUC
1         Julia Nagel     Graduate Student at the University of Illinois
2         Evan Natsis                    High School Mathematics Teacher
3       Anisha Sharma  Undergraduate Research Assistant at Beckman In...
4    Nathan Malewicki                                             Report
5         Arjun Bahel          Solutions Engineering Analyst at Deloitte
6      Eshaan Bhattad                                          CS @ UIUC
7  Vishnu Chakroborty                    Co-Founder, Engineering @ Burst
8     Meraal Choudhry          Application & Program Analyst at Deloitte
9         Farah Iqbal  Rotational Development Associate at Northern T...

                                 location followers connections  \
0        Chicago, Illinois, United States       538        500+
1          Urbana-Champaign y alrededores
2         Normal, Illinois, United States       147         148
3        Roselle, Illinois, United States       739        500+
4   St Petersburg, Florida, United States       700        500+
5     Naperville, Illinois, United States       361         363
6  Buffalo Grove, Illinois, United States       594        500+
7                    Greater Chicago Area       556        500+
8        Chicago, Illinois, United States       785        500+
9     Naperville, Illinois, United States       233         233

                                               about  \
0  I am always looking for innovative ways to lev...
1  I am currently a Masters student at University...
2                                               None
3  I am a senior studying materials science and e...
4                                               None
5                                               None
6  Hi! My name is Eshaan Bhattad and I am a risin...
7                                               None
8                                               None
9                                               None

                                          experience  \
0  [{'organisation_profile': 'https://es.linkedin...
1  [{'organisation_profile': 'https://pe.linkedin...
2  [{'organisation_profile': 'https://se.linkedin...
3  [{'organisation_profile': 'https://nl.linkedin...
4  [{'organisation_profile': 'https://jp.linkedin...
5  [{'organisation_profile': 'https://es.linkedin...
6                                                 []
7  [{'organisation_profile': 'https://dk.linkedin...
8  [{'organisation_profile': 'https://de.linkedin...
9  [{'organisation_profile': 'https://au.linkedin...

                                           education  \
0  [{'organisation_profile': 'https://es.linkedin...
1  [{'organisation_profile': 'https://pe.linkedin...
2  [{'organisation_profile': 'https://se.linkedin...
3  [{'organisation_profile': 'https://nl.linkedin...
4  [{'organisation_profile': 'https://jp.linkedin...
5  [{'organisation_profile': 'https://es.linkedin...
6  [{'organisation_profile': 'https://se.linkedin...
7  [{'organisation_profile': 'https://dk.linkedin...
8  [{'organisation_profile': 'https://de.linkedin...
9  [{'organisation_profile': 'https://au.linkedin...

                                                role  \
0  1. Software Engineering\n2. Consulting\n3. Res...
1  1. Software Engineering\n2. Consulting\n3. Res...
2  1. Software Engineering\n2. Consulting\n3. Res...
3  1. Software Engineering\n2. Research\n3. Consu...
4  1. Software Engineering \n2. Investing \n3. Co...
5  1. Software Engineering\n2. Consulting\n3. Inv...
6  1. Software Engineering \n2. Consulting \n3. I...
7  1. Software Engineering \n2. Consulting \n3. I...
8  1. Software Engineering\n2. Investing\n3. Cons...
9  1. Software Engineering\n2. Consulting\n3. Inv...

                                              scores
0  {'software engineering': 5, 'management consul...
1  {'software engineering': 5, 'management consul...
2  {'software engineering': 5, 'management consul...
3  {'software engineering': 5, 'management consul...
4  {'software engineering': 4, 'management consul...
5  {'software engineering': 5, 'management consul...
6  {'software engineering': 5, 'management consul...
7  {'software engineering': 5, 'management consul...
8  {'software engineering': 5, 'management consul...
9  {'software engineering': None, 'management con...

In [ ]:
df

,profile,url,name,description,location,followers,connections,about,experience,education,role,scores
0,aaron-alberg,https://www.linkedin.com/in/aaron-alberg/,Aaron Alberg,Incoming SWE at Flexport | CS @ UIUC,"Chicago, Illinois, United States",538,500+,I am always looking for innovative ways to lev...,[{'organisation_profile': 'https://es.linkedin...,[{'organisation_profile': 'https://es.linkedin...,1. Software Engineering\n2. Consulting\n3. Res...,"{'software engineering': 5, 'management consul..."
1,julia-nagel-899828197,https://www.linkedin.com/in/julia-nagel-899828...,Julia Nagel,Graduate Student at the University of Illinois,Urbana-Champaign y alrededores,,,I am currently a Masters student at University...,[{'organisation_profile': 'https://pe.linkedin...,[{'organisation_profile': 'https://pe.linkedin...,1. Software Engineering\n2. Consulting\n3. Res...,"{'software engineering': 5, 'management consul..."
2,evan-natsis-206776233,https://www.linkedin.com/in/evan-natsis-206776...,Evan Natsis,High School Mathematics Teacher,"Normal, Illinois, United States",147,148,None,[{'organisation_profile': 'https://se.linkedin...,[{'organisation_profile': 'https://se.linkedin...,1. Software Engineering\n2. Consulting\n3. Res...,"{'software engineering': 5, 'management consul..."
3,anisha-sharma-59a094143,https://www.linkedin.com/in/anisha-sharma-59a0...,Anisha Sharma,Undergraduate Research Assistant at Beckman In...,"Roselle, Illinois, United States",739,500+,I am a senior studying materials science and e...,[{'organisation_profile': 'https://nl.linkedin...,[{'organisation_profile': 'https://nl.linkedin...,1. Software Engineering\n2. Research\n3. Consu...,"{'software engineering': 5, 'management consul..."
4,nathanmalewicki,https://www.linkedin.com/in/nathanmalewicki/,Nathan Malewicki,Report,"St Petersburg, Florida, United States",700,500+,None,[{'organisation_profile': 'https://jp.linkedin...,[{'organisation_profile': 'https://jp.linkedin...,1. Software Engineering \n2. Investing \n3. Co...,"{'software engineering': 4, 'management consul..."
5,arjun-bahel-6a2a43213,https://www.linkedin.com/in/arjun-bahel-6a2a43...,Arjun Bahel,Solutions Engineering Analyst at Deloitte,"Naperville, Illinois, United States",361,363,None,[{'organisation_profile': 'https://es.linkedin...,[{'organisation_profile': 'https://es.linkedin...,1. Software Engineering\n2. Consulting\n3. Inv...,"{'software engineering': 5, 'management consul..."
6,eshaan-bhattad,https://www.linkedin.com/in/eshaan-bhattad/,Eshaan Bhattad,CS @ UIUC,"Buffalo Grove, Illinois, United States",594,500+,Hi! My name is Eshaan Bhattad and I am a risin...,[],[{'organisation_profile': 'https://se.linkedin...,1. Software Engineering \n2. Consulting \n3. I...,"{'software engineering': 5, 'management consul..."
7,vishnu-chakroborty,https://www.linkedin.com/in/vishnu-chakroborty/,Vishnu Chakroborty,"Co-Founder, Engineering @ Burst",Greater Chicago Area,556,500+,None,[{'organisation_profile': 'https://dk.linkedin...,[{'organisation_profile': 'https://dk.linkedin...,1. Software Engineering \n2. Consulting \n3. I...,"{'software engineering': 5, 'management consul..."
8,meraal-choudhry,https://www.linkedin.com/in/meraal-choudhry/,Meraal Choudhry,Application & Program Analyst at Deloitte,"Chicago, Illinois, United States",785,500+,None,[{'organisation_profile': 'https://de.linkedin...,[{'organisation_profile': 'https://de.linkedin...,1. Software Engineering\n2. Investing\n3. Cons...,"{'software engineering': 5, 'management consul..."
9,faruiq,https://www.linkedin.com/in/faruiq/,Farah Iqbal,Rotational Development Associate at Northern T...,"Naperville, Illinois, United States",233,233,None,[{'organisation_profile': 'https://au.linkedin...,[{'organisation_profile': 'https://au.linkedin...,1. Software Engineering\n2. Consulting\n3. Inv...,"{'software engineering': None, 'management con..."

In [ ]:
df['scores'][4]

{'software engineering': 5,
 'management consulting': 4,
 'construction on-site worker': 3,
 'investment management': 4,
 'biological research': 3}

In [ ]:
df2 = df

In [ ]:
job_description =  """
            About The Role

            The ML Data Shop team is looking for a Software Engineer to design and implement platforms that support data search, labeling and dataset management that accelerate the AV model development.

            What You’ll Be Doing

            Use the latest cloud technologies to design, implement, and test scalable distributed data systems. Champion engineering excellence by continuously improving systems and processes.
            Build automation that surfaces insights on how machine learning engineers can improve workflow efficiency.
            Work closely with machine learning engineers to enable cutting-edge R&D efforts and improve existing systems.
            Own technical projects from start to finish. Effectively participate in team’s planning, code reviews and design discussions
            Work together with partner teams and orgs to achieve cross-departmental goals and satisfy broad requirements

            General

            What we are looking for:

            Passion for self-driving technology and its impact
            Experience and proficiency shipping products end-to-end
            Technical communication/collaboration skills: technical writing
            Demonstrated ability to empathize with customer problems and deliver creative product solutions

            Technical

            BS, MS or Ph.D. in Computer Science, Electrical Engineering, Mathematics, Physics, or another relevant field; or equivalent real-world experience
            Experience writing high quality and scalable code in Golang, TypeScript, or Python (or similar)
            Experience building scalable infrastructure on the cloud with Python, Java, or Golang (or similar)
            Experience with SQL, Bigtable, BigQuery, Apache Beam or other data processing tools
            Strong computer science fundamentals in object oriented programming, data structures, algorithm design, best practices, and complexity analysis.
            Experience with Google Cloud, AWS, Azure, or similar
            """

In [ ]:
import re

def generate_response2(row):
    prompt = (f"I have the following background: \nDescription: {row['description']}\nAbout: {row['about']}\nExperience: {row['experience']}\nEducation: {row['education']}\n\n"
            "Given my background, please evaluate how well the following job description matches my profile. Provide a score between 1 and 5, "
            "where 1 means 'not a good match at all' and 5 means 'an excellent match':\n\n" + job_description + "\n\n"
            "Please format your response as: 'Score: X/5', where X is the score.")


             
    response = openai.Completion.create(
        engine="text-davinci-003",
        prompt=prompt,
        max_tokens=50,
        n=1,
        stop=None,
        temperature=0.7,
    )
    response_text = response.choices[0].text.strip()
    print(response_text)
    # Use regex to extract scores
    match = re.search(r"Score: (\d(\.\d)?)/5", response_text)
    if match:
        score = int(match.group(1))
    else:
        score = None
    return score

# Generate scores and create a new column with the scores
tqdm.pandas()  # Optional: to show progress bar
df["score"] = df.apply(lambda row: generate_response2(row), axis=1)

print(df2)

Score: 4/5
Score: 4/5
Score: 2/5
Score: 3/5
Score: 4/5
Score: 3/5
Score: 4/5
Score: 4/5
Score: 4/5
Score: 4/5
                   profile                                                url  \
0             aaron-alberg          https://www.linkedin.com/in/aaron-alberg/
1    julia-nagel-899828197  https://www.linkedin.com/in/julia-nagel-899828...
2    evan-natsis-206776233  https://www.linkedin.com/in/evan-natsis-206776...
3  anisha-sharma-59a094143  https://www.linkedin.com/in/anisha-sharma-59a0...
4          nathanmalewicki       https://www.linkedin.com/in/nathanmalewicki/
5    arjun-bahel-6a2a43213  https://www.linkedin.com/in/arjun-bahel-6a2a43...
6           eshaan-bhattad        https://www.linkedin.com/in/eshaan-bhattad/
7       vishnu-chakroborty    https://www.linkedin.com/in/vishnu-chakroborty/
8          meraal-choudhry       https://www.linkedin.com/in/meraal-choudhry/
9                   faruiq                https://www.linkedin.com/in/faruiq/

                 name                                        description  \
0        Aaron Alberg               Incoming SWE at Flexport | CS @ UIUC
1         Julia Nagel     Graduate Student at the University of Illinois
2         Evan Natsis                    High School Mathematics Teacher
3       Anisha Sharma  Undergraduate Research Assistant at Beckman In...
4    Nathan Malewicki                                             Report
5         Arjun Bahel          Solutions Engineering Analyst at Deloitte
6      Eshaan Bhattad                                          CS @ UIUC
7  Vishnu Chakroborty                    Co-Founder, Engineering @ Burst
8     Meraal Choudhry          Application & Program Analyst at Deloitte
9         Farah Iqbal  Rotational Development Associate at Northern T...

                                 location followers connections  \
0        Chicago, Illinois, United States       538        500+
1          Urbana-Champaign y alrededores
2         Normal, Illinois, United States       147         148
3        Roselle, Illinois, United States       739        500+
4   St Petersburg, Florida, United States       700        500+
5     Naperville, Illinois, United States       361         363
6  Buffalo Grove, Illinois, United States       594        500+
7                    Greater Chicago Area       556        500+
8        Chicago, Illinois, United States       785        500+
9     Naperville, Illinois, United States       233         233

                                               about  \
0  I am always looking for innovative ways to lev...
1  I am currently a Masters student at University...
2                                               None
3  I am a senior studying materials science and e...
4                                               None
5                                               None
6  Hi! My name is Eshaan Bhattad and I am a risin...
7                                               None
8                                               None
9                                               None

                                          experience  \
0  [{'organisation_profile': 'https://es.linkedin...
1  [{'organisation_profile': 'https://pe.linkedin...
2  [{'organisation_profile': 'https://se.linkedin...
3  [{'organisation_profile': 'https://nl.linkedin...
4  [{'organisation_profile': 'https://jp.linkedin...
5  [{'organisation_profile': 'https://es.linkedin...
6                                                 []
7  [{'organisation_profile': 'https://dk.linkedin...
8  [{'organisation_profile': 'https://de.linkedin...
9  [{'organisation_profile': 'https://au.linkedin...

                                           education  score
0  [{'organisation_profile': 'https://es.linkedin...      4
1  [{'organisation_profile': 'https://pe.linkedin...      4
2  [{'organisation_profile': 'https://se.linkedin...      2
3  [{'organisation_profile': 'https://nl.linkedin...      3
4  [{'organisation_profile': 'https://jp.linkedin...      4
5  [{'organisation_profile': 'https://es.linkedin...      3
6  [{'organisation_profile': 'https://se.linkedin...      4
7  [{'organisation_profile': 'https://dk.linkedin...      4
8  [{'organisation_profile': 'https://de.linkedin...      4
9  [{'organisation_profile': 'https://au.linkedin...      4

In [ ]:
df2

,profile,url,name,description,location,followers,connections,about,experience,education,score
0,aaron-alberg,https://www.linkedin.com/in/aaron-alberg/,Aaron Alberg,Incoming SWE at Flexport | CS @ UIUC,"Chicago, Illinois, United States",538,500+,I am always looking for innovative ways to lev...,[{'organisation_profile': 'https://es.linkedin...,[{'organisation_profile': 'https://es.linkedin...,4
1,julia-nagel-899828197,https://www.linkedin.com/in/julia-nagel-899828...,Julia Nagel,Graduate Student at the University of Illinois,Urbana-Champaign y alrededores,,,I am currently a Masters student at University...,[{'organisation_profile': 'https://pe.linkedin...,[{'organisation_profile': 'https://pe.linkedin...,4
2,evan-natsis-206776233,https://www.linkedin.com/in/evan-natsis-206776...,Evan Natsis,High School Mathematics Teacher,"Normal, Illinois, United States",147,148,None,[{'organisation_profile': 'https://se.linkedin...,[{'organisation_profile': 'https://se.linkedin...,2
3,anisha-sharma-59a094143,https://www.linkedin.com/in/anisha-sharma-59a0...,Anisha Sharma,Undergraduate Research Assistant at Beckman In...,"Roselle, Illinois, United States",739,500+,I am a senior studying materials science and e...,[{'organisation_profile': 'https://nl.linkedin...,[{'organisation_profile': 'https://nl.linkedin...,3
4,nathanmalewicki,https://www.linkedin.com/in/nathanmalewicki/,Nathan Malewicki,Report,"St Petersburg, Florida, United States",700,500+,None,[{'organisation_profile': 'https://jp.linkedin...,[{'organisation_profile': 'https://jp.linkedin...,4
5,arjun-bahel-6a2a43213,https://www.linkedin.com/in/arjun-bahel-6a2a43...,Arjun Bahel,Solutions Engineering Analyst at Deloitte,"Naperville, Illinois, United States",361,363,None,[{'organisation_profile': 'https://es.linkedin...,[{'organisation_profile': 'https://es.linkedin...,3
6,eshaan-bhattad,https://www.linkedin.com/in/eshaan-bhattad/,Eshaan Bhattad,CS @ UIUC,"Buffalo Grove, Illinois, United States",594,500+,Hi! My name is Eshaan Bhattad and I am a risin...,[],[{'organisation_profile': 'https://se.linkedin...,4
7,vishnu-chakroborty,https://www.linkedin.com/in/vishnu-chakroborty/,Vishnu Chakroborty,"Co-Founder, Engineering @ Burst",Greater Chicago Area,556,500+,None,[{'organisation_profile': 'https://dk.linkedin...,[{'organisation_profile': 'https://dk.linkedin...,4
8,meraal-choudhry,https://www.linkedin.com/in/meraal-choudhry/,Meraal Choudhry,Application & Program Analyst at Deloitte,"Chicago, Illinois, United States",785,500+,None,[{'organisation_profile': 'https://de.linkedin...,[{'organisation_profile': 'https://de.linkedin...,4
9,faruiq,https://www.linkedin.com/in/faruiq/,Farah Iqbal,Rotational Development Associate at Northern T...,"Naperville, Illinois, United States",233,233,None,[{'organisation_profile': 'https://au.linkedin...,[{'organisation_profile': 'https://au.linkedin...,4

In [ ]:
df2['experience'][2]

[{'organisation_profile': 'https://se.linkedin.com/company/el-paso-gridley-high-school',
  'description': 'Currently Teach: Geometry and Precalculus',
  'duration': '9 months'},
 {'organisation_profile': 'https://se.linkedin.com/company/morton-high-school-30',
  'description': 'Classes Taught: Precalculus Honors, Algebra 1 Standard, Algebra 1A (co-taught special education)',
  'duration': '5 months'},
 {'organisation_profile': 'https://se.linkedin.com/company/illinois-state-university',
  'description': 'Researched Hypergraphs and provided a 1 week Math Camp for high school students from Chicago Public Schools.',
  'duration': '2 months'}]

In [ ]:
df_5 = df.head(5)
df_5

,profile,url,name,description,location,followers,connections,about,experience,education,score
0,aaron-alberg,https://www.linkedin.com/in/aaron-alberg/,Aaron Alberg,Incoming SWE at Flexport | CS @ UIUC,"Chicago, Illinois, United States",538,500+,I am always looking for innovative ways to lev...,[{'organisation_profile': 'https://es.linkedin...,[{'organisation_profile': 'https://es.linkedin...,4
1,julia-nagel-899828197,https://www.linkedin.com/in/julia-nagel-899828...,Julia Nagel,Graduate Student at the University of Illinois,Urbana-Champaign y alrededores,,,I am currently a Masters student at University...,[{'organisation_profile': 'https://pe.linkedin...,[{'organisation_profile': 'https://pe.linkedin...,4
2,evan-natsis-206776233,https://www.linkedin.com/in/evan-natsis-206776...,Evan Natsis,High School Mathematics Teacher,"Normal, Illinois, United States",147,148,None,[{'organisation_profile': 'https://se.linkedin...,[{'organisation_profile': 'https://se.linkedin...,2
3,anisha-sharma-59a094143,https://www.linkedin.com/in/anisha-sharma-59a0...,Anisha Sharma,Undergraduate Research Assistant at Beckman In...,"Roselle, Illinois, United States",739,500+,I am a senior studying materials science and e...,[{'organisation_profile': 'https://nl.linkedin...,[{'organisation_profile': 'https://nl.linkedin...,3
4,nathanmalewicki,https://www.linkedin.com/in/nathanmalewicki/,Nathan Malewicki,Report,"St Petersburg, Florida, United States",700,500+,None,[{'organisation_profile': 'https://jp.linkedin...,[{'organisation_profile': 'https://jp.linkedin...,4

In [ ]:
def generate_rankings(df_5):
    individuals = ""
    for index, row in df_5.iterrows():
        individuals += (f"Individual {index + 1}:\n"
                        f"About: {row['about']}\n"
                        f"Experience: {row['experience']}\n"
                        f"Education: {row['education']}\n\n")

    prompt = (f"Please review the following individuals and rank them based on how well they match the job description below:\n\n"
              f"{individuals}"
              f"Job Description: {job_description}\n\n"
              f"Please provide the ranking in the format 'Ranking: X1,X2,X3,X4,X5...', where X1 is the best match and the numbers represent the Individual number.")

    response = openai.Completion.create(
        engine="text-davinci-003",
        prompt=prompt,
        max_tokens=30,
        n=1,
        stop=None,
        temperature=0.7,
    )
    response_text = response.choices[0].text.strip()
    print("Prompt:\n", prompt)
    print("Response Text:\n", response_text)

    match = re.search(r"Ranking: ([\d,]+)", response_text)
    if match:
        ranking_str = match.group(1)
        rankings = [int(x) for x in ranking_str.split(',')]
    else:
        rankings = None
    return rankings
rankings = generate_rankings(df_5)

Prompt:
 Please review the following individuals and rank them based on how well they match the job description below:

Individual 1:
About: I am always looking for innovative ways to leverage cutting-edge technology to empower communities and generate positive social impact. I spend my time developing software for the UIUC entrepreneurship community, teaching software design principals, and leading a design thinking studio.
Experience: [{'organisation_profile': 'https://es.linkedin.com/company/university-of-illinois-urbana-champaign', 'description': '- Teach engineering exploration class for 20 undeclared students to discover passions and define goals'}, {'organisation_profile': 'https://es.linkedin.com/company/flexport', 'description': 'Visibility Engineering Team', 'duration': '3 months'}, {'organisation_profile': 'https://es.linkedin.com/company/founders-illinois-entrepreneurs', 'description': '- Design software solutions to promote accessibility at UIUC for startups and student entrepreneurs', 'duration': '1 year 11 months'}, {'organisation_profile': 'https://es.linkedin.com/company/arity', 'description': '- Provided business customers tools to register and update their users by building out support for API', 'duration': '4 months'}, {'organisation_profile': 'https://es.linkedin.com/company/impactlabs', 'description': '', 'duration': '5 months'}, {'organisation_profile': 'https://es.linkedin.com/company/csg-', 'description': '-Developed a service dashboard to present teams with data on AWS infrastructure health and resources', 'duration': '5 months'}, {'organisation_profile': 'https://es.linkedin.com/company/thousand-waves-martial-arts-&-self-defense-center', 'description': '(seasonal)'}]
Education: [{'organisation_profile': 'https://es.linkedin.com/school/university-of-illinois-urbana-champaign/', 'course_details': 'Bachelor of Science - BS Computer Science', 'description': '', 'start_time': '2019', 'end_time': '2022'}, {'organisation_profile': 'https://es.linkedin.com/school/technical-university-of-denmark/', 'course_details': 'Computer Science', 'description': 'Study abroad', 'start_time': '2022', 'end_time': '2022'}, {'organisation_profile': 'https://es.linkedin.com/school/payton-college-preparatory-high-school/', 'course_details': '', 'description': '', 'start_time': '2015', 'end_time': '2019'}]

Individual 2:
About: I am currently a Masters student at University of Illinois in Urbana Champaign. After school I plan to pursue a career in data science.
Experience: [{'organisation_profile': 'https://pe.linkedin.com/company/zurich-north-america', 'description': '', 'duration': '4 meses'}, {'organisation_profile': 'https://pe.linkedin.com/company/university-of-illinois-urbana-champaign', 'description': 'Teaching an introductory course for freshmen to help them adjust to college and help them learn more about their college.', 'duration': '5 meses'}]
Education: [{'organisation_profile': 'https://pe.linkedin.com/school/university-of-illinois-urbana-champaign/', 'course_details': 'Statistics N/A', 'description': 'Actividades y grupos: Statistics Ambassador', 'start_time': '2018', 'end_time': '2021'}]

Individual 3:
About: None
Experience: [{'organisation_profile': 'https://se.linkedin.com/company/el-paso-gridley-high-school', 'description': 'Currently Teach: Geometry and Precalculus', 'duration': '9 months'}, {'organisation_profile': 'https://se.linkedin.com/company/morton-high-school-30', 'description': 'Classes Taught: Precalculus Honors, Algebra 1 Standard, Algebra 1A (co-taught special education)', 'duration': '5 months'}, {'organisation_profile': 'https://se.linkedin.com/company/illinois-state-university', 'description': 'Researched Hypergraphs and provided a 1 week Math Camp for high school students from Chicago Public Schools.', 'duration': '2 months'}]
Education: [{'organisation_profile': 'https://se.linkedin.com/school/illinois-state-university/', 'course_details': 'Bachelor of Science - BS Mathematics Teacher Education 3.84 (4.0 Scale)', 'description': 'Dean’s List', 'start_time': '2020', 'end_time': '2022'}, {'organisation_profile': 'https://se.linkedin.com/school/harpercollege/', 'course_details': 'Associate of Arts - AA', 'description': '', 'start_time': '2018', 'end_time': '2020'}, {'organisation_profile': 'https://se.linkedin.com/school/harpercollege/', 'course_details': 'Associate of Science - AS', 'description': '', 'start_time': '2018', 'end_time': '2020'}]

Individual 4:
About: I am a senior studying materials science and engineering with a primary focus in polymers. I am very interested in the sustainability side of polymers. In addition to my academic and research interests, I am also very passionate about entrepreneurship.
Experience: [{'organisation_profile': 'https://nl.linkedin.com/company/semiconductor-research-corporation', 'description': '', 'duration': '1 year 11 months'}, {'organisation_profile': 'https://nl.linkedin.com/company/university-of-illinois-urbana-champaign', 'description': 'Performing research on frontal polymerization for patterning and degradability as an Intel and Semiconductor Research Corporation Scholar and Illinois Scholar in Undergraduate Research.', 'duration': '2 years 9 months'}, {'organisation_profile': 'https://nl.linkedin.com/company/founders-illinois-entrepreneurs', 'description': '', 'duration': '1 year'}, {'organisation_profile': 'https://nl.linkedin.com/company/uofigrainger', 'description': '• Mentor class of first-year engineering students about campus life, resources, communication, and professionalism', 'duration': '2 years'}, {'organisation_profile': 'https://nl.linkedin.com/company/uwmadison', 'description': 'My research focuses on recycling mixed plastic waste feeds via solvent-targeted recovery and precipitation (STRAP).', 'duration': '4 months'}, {'organisation_profile': 'https://nl.linkedin.com/company/founders-illinois-entrepreneurs', 'description': '•\tCodirected the largest student-run startup weekend conference in the Midwest'}, {'organisation_profile': 'https://nl.linkedin.com/company/nasa-illinois-space-grant-consortium', 'description': '', 'duration': '3 months'}, {'organisation_profile': 'https://nl.linkedin.com/company/chicagostartupweek', 'description': '•\tDirected a 3-day Chicago Startup Week pitch competition for student startups from Illinois schools and universities', 'duration': '5 months'}, {'organisation_profile': '', 'description': '', 'duration': '3 years 1 month'}, {'organisation_profile': 'https://nl.linkedin.com/company/thinkcerca', 'description': '', 'duration': '3 months'}, {'organisation_profile': 'https://nl.linkedin.com/company/james-r--jordan-foundation', 'description': '', 'duration': '3 months'}]
Education: [{'organisation_profile': 'https://nl.linkedin.com/school/university-of-illinois-urbana-champaign/', 'course_details': "Bachelor's degree Materials Science & Engineering", 'description': 'Activities and Societies: Intel Scholar, Illinois Scholar in Undergraduate Research, Semiconductor Research Corporation Scholar, Founders- Illinois Entrepreneurs (Talent Lead, Forge Startup Weekend Co-Director, Vice President), Chicago Startup Week Pitch Competition Director, Engineering Learning Assistant, Women in Engineering Mentor', 'start_time': '2019', 'end_time': '2023'}, {'organisation_profile': 'https://nl.linkedin.com/school/illinois-mathematics-and-science-academy/', 'course_details': '', 'description': '', 'start_time': '2016', 'end_time': '2019'}]

Individual 5:
About: None
Experience: [{'organisation_profile': 'https://jp.linkedin.com/company/uiuc-investment-management-academy', 'description': '- One of 40 students admitted to a highly selective program tailored to careers in investment management', 'duration': '1 year 7 months'}, {'organisation_profile': 'https://jp.linkedin.com/company/madisoncapitalfunding', 'description': '', 'duration': '8 months'}, {'organisation_profile': 'https://jp.linkedin.com/company/allstate', 'description': '- Automated several financial reporting processes by leveraging VBA programming and advanced Excel skills', 'duration': '4 months'}, {'organisation_profile': 'https://jp.linkedin.com/company/harpercollege', 'description': '-Assist in teaching accounting skills and principles to a class of more than 30 students', 'duration': '10 months'}, {'organisation_profile': '', 'description': '-Lead projects that are focused on developing the professional skills of club members', 'duration': '1 year 1 month'}, {'organisation_profile': 'https://jp.linkedin.com/company/r.w.-dunteman-company-inc.', 'description': '-Plan and oversee asphalt production and distribution', 'duration': '1 year 1 month'}]
Education: [{'organisation_profile': 'https://jp.linkedin.com/school/university-of-illinois-urbana-champaign/', 'course_details': "Bachelor's degree Finance, General", 'description': 'Activities and Societies: Investment Management Academy, James Scholar Program at the Gies College of Business, Investment Portfolio Organization, Dean’s List', 'start_time': '2020', 'end_time': '2022'}, {'organisation_profile': 'https://jp.linkedin.com/school/harpercollege/', 'course_details': 'Associate of Arts - AA Finance, General', 'description': "Activities and Societies: Phi Theta Kappa Honors Society, President's List (Fall 2018, Spring 2019, Fall 2019, Spring 2020), President of Business and Entrepreneurship Club, Student Supplemental Instructor - Financial Accounting", 'start_time': '2018', 'end_time': '2020'}]

Job Description:
            About The Role

            The ML Data Shop team is looking for a Software Engineer to design and implement platforms that support data search, labeling and dataset management that accelerate the AV model development.

            What You’ll Be Doing

            Use the latest cloud technologies to design, implement, and test scalable distributed data systems. Champion engineering excellence by continuously improving systems and processes.
            Build automation that surfaces insights on how machine learning engineers can improve workflow efficiency.
            Work closely with machine learning engineers to enable cutting-edge R&D efforts and improve existing systems.
            Own technical projects from start to finish. Effectively participate in team’s planning, code reviews and design discussions
            Work together with partner teams and orgs to achieve cross-departmental goals and satisfy broad requirements

            General

            What we are looking for:

            Passion for self-driving technology and its impact
            Experience and proficiency shipping products end-to-end
            Technical communication/collaboration skills: technical writing
            Demonstrated ability to empathize with customer problems and deliver creative product solutions

            Technical

            BS, MS or Ph.D. in Computer Science, Electrical Engineering, Mathematics, Physics, or another relevant field; or equivalent real-world experience
            Experience writing high quality and scalable code in Golang, TypeScript, or Python (or similar)
            Experience building scalable infrastructure on the cloud with Python, Java, or Golang (or similar)
            Experience with SQL, Bigtable, BigQuery, Apache Beam or other data processing tools
            Strong computer science fundamentals in object oriented programming, data structures, algorithm design, best practices, and complexity analysis.
            Experience with Google Cloud, AWS, Azure, or similar


Please provide the ranking in the format 'Ranking: X1,X2,X3,X4,X5...', where X1 is the best match and the numbers represent the Individual number.
Response Text:
 Ranking: 1,4,2,5,3

In [ ]:
if rankings:
    # Create a dictionary to map original index to its ranking
    index_to_rank = {index + 1: rank for index, rank in enumerate(rankings)}

    # Add the rankings to a new column in the DataFrame
    df_5["rank"] = df_5.index.to_series().map(lambda x: index_to_rank.get(x + 1))

    # Sort the DataFrame based on the 'rank' column
    df_ranked = df_5.sort_values('rank', ascending=True)

    # Reset the index of the sorted DataFrame
    df_ranked.reset_index(drop=True, inplace=True)

    print(df_ranked)
else:
    print("Failed to extract rankings.")

df_5

                   profile                                                url  \
0             aaron-alberg          https://www.linkedin.com/in/aaron-alberg/
1    evan-natsis-206776233  https://www.linkedin.com/in/evan-natsis-206776...
2          nathanmalewicki       https://www.linkedin.com/in/nathanmalewicki/
3    julia-nagel-899828197  https://www.linkedin.com/in/julia-nagel-899828...
4  anisha-sharma-59a094143  https://www.linkedin.com/in/anisha-sharma-59a0...

               name                                        description  \
0      Aaron Alberg               Incoming SWE at Flexport | CS @ UIUC
1       Evan Natsis                    High School Mathematics Teacher
2  Nathan Malewicki                                             Report
3       Julia Nagel     Graduate Student at the University of Illinois
4     Anisha Sharma  Undergraduate Research Assistant at Beckman In...

                                location followers connections  \
0       Chicago, Illinois, United States       538        500+
1        Normal, Illinois, United States       147         148
2  St Petersburg, Florida, United States       700        500+
3         Urbana-Champaign y alrededores
4       Roselle, Illinois, United States       739        500+

                                               about  \
0  I am always looking for innovative ways to lev...
1                                               None
2                                               None
3  I am currently a Masters student at University...
4  I am a senior studying materials science and e...

                                          experience  \
0  [{'organisation_profile': 'https://es.linkedin...
1  [{'organisation_profile': 'https://se.linkedin...
2  [{'organisation_profile': 'https://jp.linkedin...
3  [{'organisation_profile': 'https://pe.linkedin...
4  [{'organisation_profile': 'https://nl.linkedin...

                                           education  score  rank
0  [{'organisation_profile': 'https://es.linkedin...      4     1
1  [{'organisation_profile': 'https://se.linkedin...      2     2
2  [{'organisation_profile': 'https://jp.linkedin...      4     3
3  [{'organisation_profile': 'https://pe.linkedin...      4     4
4  [{'organisation_profile': 'https://nl.linkedin...      3     5

/var/folders/h5/vm426t3x6q5cmr31c8nzbb800000gn/T/ipykernel_58740/2671711586.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_5["rank"] = df_5.index.to_series().map(lambda x: index_to_rank.get(x + 1))

,profile,url,name,description,location,followers,connections,about,experience,education,score,rank
0,aaron-alberg,https://www.linkedin.com/in/aaron-alberg/,Aaron Alberg,Incoming SWE at Flexport | CS @ UIUC,"Chicago, Illinois, United States",538,500+,I am always looking for innovative ways to lev...,[{'organisation_profile': 'https://es.linkedin...,[{'organisation_profile': 'https://es.linkedin...,4,1
1,julia-nagel-899828197,https://www.linkedin.com/in/julia-nagel-899828...,Julia Nagel,Graduate Student at the University of Illinois,Urbana-Champaign y alrededores,,,I am currently a Masters student at University...,[{'organisation_profile': 'https://pe.linkedin...,[{'organisation_profile': 'https://pe.linkedin...,4,4
2,evan-natsis-206776233,https://www.linkedin.com/in/evan-natsis-206776...,Evan Natsis,High School Mathematics Teacher,"Normal, Illinois, United States",147,148,None,[{'organisation_profile': 'https://se.linkedin...,[{'organisation_profile': 'https://se.linkedin...,2,2
3,anisha-sharma-59a094143,https://www.linkedin.com/in/anisha-sharma-59a0...,Anisha Sharma,Undergraduate Research Assistant at Beckman In...,"Roselle, Illinois, United States",739,500+,I am a senior studying materials science and e...,[{'organisation_profile': 'https://nl.linkedin...,[{'organisation_profile': 'https://nl.linkedin...,3,5
4,nathanmalewicki,https://www.linkedin.com/in/nathanmalewicki/,Nathan Malewicki,Report,"St Petersburg, Florida, United States",700,500+,None,[{'organisation_profile': 'https://jp.linkedin...,[{'organisation_profile': 'https://jp.linkedin...,4,3

In [ ]:
if rankings:
    # Create a dictionary to map original index to its ranking
    index_to_rank = {index + 1: rank for index, rank in enumerate(rankings)}
    print(f"Index to Rank mapping: {index_to_rank}")

    # Add the rankings to a new column in the DataFrame
    df_5["rank"] = df_5.index.to_series().map(lambda x: index_to_rank.get(x + 1))

    # Print DataFrame with added rank column for debugging purposes
    print(df_5)

    # Sort the DataFrame based on the 'rank' column
    df_ranked = df_5.sort_values('rank', ascending=True)

    # Reset the index of the sorted DataFrame
    df_ranked.reset_index(drop=True, inplace=True)

    print(df_ranked)
else:
    print("Failed to extract rankings.")

Index to Rank mapping: {1: 1, 2: 4, 3: 2}
                   profile                                                url  \
0             aaron-alberg          https://www.linkedin.com/in/aaron-alberg/
1    julia-nagel-899828197  https://www.linkedin.com/in/julia-nagel-899828...
2    evan-natsis-206776233  https://www.linkedin.com/in/evan-natsis-206776...
3  anisha-sharma-59a094143  https://www.linkedin.com/in/anisha-sharma-59a0...
4          nathanmalewicki       https://www.linkedin.com/in/nathanmalewicki/

               name                                        description  \
0      Aaron Alberg               Incoming SWE at Flexport | CS @ UIUC
1       Julia Nagel     Graduate Student at the University of Illinois
2       Evan Natsis                    High School Mathematics Teacher
3     Anisha Sharma  Undergraduate Research Assistant at Beckman In...
4  Nathan Malewicki                                             Report

                                location followers connections  \
0       Chicago, Illinois, United States       538        500+
1         Urbana-Champaign y alrededores
2        Normal, Illinois, United States       147         148
3       Roselle, Illinois, United States       739        500+
4  St Petersburg, Florida, United States       700        500+

                                               about  \
0  I am always looking for innovative ways to lev...
1  I am currently a Masters student at University...
2                                               None
3  I am a senior studying materials science and e...
4                                               None

                                          experience  \
0  [{'organisation_profile': 'https://es.linkedin...
1  [{'organisation_profile': 'https://pe.linkedin...
2  [{'organisation_profile': 'https://se.linkedin...
3  [{'organisation_profile': 'https://nl.linkedin...
4  [{'organisation_profile': 'https://jp.linkedin...

                                           education  score  rank
0  [{'organisation_profile': 'https://es.linkedin...      4   1.0
1  [{'organisation_profile': 'https://pe.linkedin...      4   4.0
2  [{'organisation_profile': 'https://se.linkedin...      2   2.0
3  [{'organisation_profile': 'https://nl.linkedin...      3   NaN
4  [{'organisation_profile': 'https://jp.linkedin...      4   NaN
                   profile                                                url  \
0             aaron-alberg          https://www.linkedin.com/in/aaron-alberg/
1    evan-natsis-206776233  https://www.linkedin.com/in/evan-natsis-206776...
2    julia-nagel-899828197  https://www.linkedin.com/in/julia-nagel-899828...
3  anisha-sharma-59a094143  https://www.linkedin.com/in/anisha-sharma-59a0...
4          nathanmalewicki       https://www.linkedin.com/in/nathanmalewicki/

               name                                        description  \
0      Aaron Alberg               Incoming SWE at Flexport | CS @ UIUC
1       Evan Natsis                    High School Mathematics Teacher
2       Julia Nagel     Graduate Student at the University of Illinois
3     Anisha Sharma  Undergraduate Research Assistant at Beckman In...
4  Nathan Malewicki                                             Report

                                location followers connections  \
0       Chicago, Illinois, United States       538        500+
1        Normal, Illinois, United States       147         148
2         Urbana-Champaign y alrededores
3       Roselle, Illinois, United States       739        500+
4  St Petersburg, Florida, United States       700        500+

                                               about  \
0  I am always looking for innovative ways to lev...
1                                               None
2  I am currently a Masters student at University...
3  I am a senior studying materials science and e...
4                                               None

                                          experience  \
0  [{'organisation_profile': 'https://es.linkedin...
1  [{'organisation_profile': 'https://se.linkedin...
2  [{'organisation_profile': 'https://pe.linkedin...
3  [{'organisation_profile': 'https://nl.linkedin...
4  [{'organisation_profile': 'https://jp.linkedin...

                                           education  score  rank
0  [{'organisation_profile': 'https://es.linkedin...      4   1.0
1  [{'organisation_profile': 'https://se.linkedin...      2   2.0
2  [{'organisation_profile': 'https://pe.linkedin...      4   4.0
3  [{'organisation_profile': 'https://nl.linkedin...      3   NaN
4  [{'organisation_profile': 'https://jp.linkedin...      4   NaN

/var/folders/h5/vm426t3x6q5cmr31c8nzbb800000gn/T/ipykernel_58740/3678197871.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_5["rank"] = df_5.index.to_series().map(lambda x: index_to_rank.get(x + 1))